# voting-app-project/.gitignore

# General
.DS_Store
Thumbs.db

# Backend specific
backend/node_modules/
backend/.env
backend/logs/
backend/*.log
backend/.env

# Frontend specific
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env.local
frontend/.env.*.local
frontend/.env.production

# Editor specific (optional but good)
.vscode/
!.vscode/settings.json 
# ^ agar settings.json share karna chahte ho team ke saath
.idea/